nav.two:hover {
  background-color: red;
  transition: 0.5s;
}
div.center1 {
  text-align: center;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.title {
  color: grey;
  font-size: 18px;
}
span.glyphicon {
  padding: 5px;
}
